@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #F8EEEE;
    width: 100%;
    margin-bottom: 1.5em;
}

body {
    background-color: #F8EEEE;
}

#cabeçalho {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#logo {
    width: 130px;
    height: 112px;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

#comprar {
    margin-bottom: 15px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #bf6c5ae0;
    color: black;
    font-size: 13px;
    font-weight: bold;
    width: 170px;
    height: 35px;
    border-radius: 10px;
}

.icone-1 {
    width: 25px;
    height: 25px;
    margin-left: 10px;

}

.icone-2 {
    width: 25px;
    height: 25px;
    margin-left: 10px;

}

#forma {

padding-left: 2px;
}

#modelo-jeans {
    width: 195px;
    height: 300px;
    margin-right: .5vw;
    margin-top: 10px;
}

#principal {
    display: flex;
    align-items: center;
    margin-top: 2dvh;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

h1 {
    font-family: "Playfair Display", serif;
    max-width: 270px;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: auto;
    text-align: center;

}

p {
    font-family: "Lora", serif;
    font-size: 15px;
    margin-top: 6vh;
    width: 190px;
    line-height: 1.3em;
}

#short-curto {
    width: 80px;
    height: 100px; 
}

#short-normal {
    width: 105px;
    height: 107px;
}

#secao-1 {
    display: flex;
    background-color: #F8EEEE;
    width: 95dvw;
}

#direita {
    padding-top: 20px;
}

/*--------------------------------------------------------------*/

#secao-2 {
    padding-top: 25px;
    width: 95dvw;
    margin: auto;

}

#secundario {
    display: flex;
    justify-content: center;
    background-color: #F8EEEE;
    flex-wrap: wrap;
    padding-top: 1em;

}

#desc-complementar {
    width: 200px;
    text-align: center;
    margin-top: 2em;
    margin-right: 0.5em;

}

.colecoes-1 {

    width: 135px;
    height: 185px;
}

.colecoes-2 {
    margin-right: 10em;
    width: 135px;
    height: 185px;
}

/*-----------------------------------------------------------------------------------*/

h2 {
    font-family: "Playfair Display", serif;
    margin: auto;
    margin-bottom: 1em;
    width: 300px;
    font-size: 1.2em;
    line-height: 1.5em;
}

#galeria {
    padding-top: 5vh;
    text-align: center;
    width: 95dvw;
    margin: auto;
}

#imagens-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grupo-imagens {
    width: 150px;
    height: 210px;
}

.paragrafo-galeria {
    width: 150px;
    text-align: center;
}

figure {
    justify-content: center;
    align-items: center;
}

figcaption {
    margin: auto;
    margin-bottom: 1em;
    width: 150px;
}

/*--------------------------------------------------------------------------------------------*/

#comentarios {
    background-color: #F8EEEE; /* Cor de fundo para a seção */
    border: 2px solid #bf6c5ae0; /* Borda de 2px com a mesma cor do botão */
    border-radius: 10px; /* Arredondando os cantos */
    padding: 20px 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto dentro da seção */
    position: relative; /* Necessário para posicionar os controles de navegação dentro da seção */
    width: 95%;
    margin: auto;
}

.carrossel {
    overflow: hidden; /* Esconde os itens que ultrapassarem o limite da área */
    position: relative; /* Necessário para garantir que os controles de navegação fiquem dentro do carrossel */
}

.comentarios {
    display: flex; /* Para que os itens (comentários) fiquem lado a lado */
    transition: transform 0.5s ease; /* Transição suave para a mudança de posição */
    align-items: center;
    padding-top: 0.6em;
}


.comentario {
    background-color: #fff;
    min-width: 50%; /* Garante que cada comentário ocupe metade da largura do carrossel */
    text-align: center; /* Centraliza o conteúdo dentro do comentário */
}

.nav {
    position: absolute; /* Coloca a navegação fora do fluxo normal do layout, permitindo que fiquem posicionados livremente */
    top: 90%; /* Faz com que a navegação fique logo abaixo do carrossel */
    left: 50%; /* Posiciona a navegação no centro horizontal */
    transform: translateX(-50%); /* Compensa o deslocamento da posição (ficando exatamente no centro) */
    display: flex; /* Alinha os botões de navegação lado a lado */
}


.nav-btn {
    width: 10px; /* Largura das bolinhas */
    height: 10px; /* Altura das bolinhas */
    background-color: #000; /* Cor de fundo das bolinhas */
    border-radius: 50%; /* Deixa as bolinhas redondas */
    margin: 0 5px; /* Espaçamento entre as bolinhas */
    cursor: pointer; /* Mostra que são interativas (indicando que o usuário pode clicar) */
}

#comentario1:checked ~ .comentarios {
    transform: translateX(0);
}

#comentario2:checked ~ .comentarios {
    transform: translateX(-100%);
}

#comentario3:checked ~ .comentarios {
    transform: translateX(-200%);
}

#titulo-comentarios {
    width: 180px;
    font-size: 1.2em;
}

.comentario p {
    width: 98%;
}

footer {
    background-color: #BF6C5A;
}

footer p {
    font-size: 12px;
    margin: auto;
    text-align: center;
    padding: 5px 0 5px 0;
    margin-top: 5px;
}

/*------------------------------------------------------------------------------------------------------*/

@media (min-width: 690px) and (max-width: 768px) {
    #cabeçalho {
        justify-content: space-between;
        padding: 0 45px 0 45px;
    }

    #logo {
        width: 180px;
        height: 162px;
    }

    a {
        font-size: 18px;
        width: 200px;
        height: 40px;
    }

    h1 {
        max-width: 350px;
        font-size: 1.7em;
        margin-bottom: 2em;
    }

    #secao-1 {
        margin: auto;
        width: 95dvw;
    }

    #forma {
        width: 228px;
        height: 330px;
    }

    #modelo-jeans {
        width: 255px;
        height: 382px;
    }

    p {
        font-size: 1.4em;
        width: 280px;
        line-height: 1.5em;
        margin-top: 0;
    }

    #short-curto {
        width: 120px;
        height: 140px;
    }

    #short-normal {
        width: 140px;
        height: 140px;
    }


    #secao-2 {
        padding-top: 10em;
        width: 95dvw;
        margin: auto;
    }

    #desc-complementar {
        width: 276px;
        margin-right: 4em;
    }

    .colecoes-1 {
        width: 250px;
        height: 300px;
    }

    .colecoes-2{
        width: 250px;
        height: 300px;
        margin-right: 21em;
    }



    #galeria {
        padding-top: 10vh;
        text-align: center;
        width: 95dvw;
        margin: auto;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 1.5em;
        width: 350px;
        margin-bottom: 3em;
    }

    .grupo-imagens {
        width: 200px;
        height: 260px;
    }

    figcaption {
        margin-bottom: 2em;
        padding-top: 0.5em;
        font-size: 1.1em;
        width: 200px;
    }

    #titulo-comentarios {
        font-family: "Playfair Display", serif;
        font-size: 1.5em;
        width: 350px;
        margin-bottom: 3em;
    }

    #comentarios {
        margin-bottom: 2em;
    }

    .comentario p {
        width: 12em;
        font-size: 1.4em;
    }

    .nome {
        padding-top: 1em;
    }


}

@media (min-width: 768.5px) and (max-width: 992px) {

    #cabeçalho {
        justify-content: space-between;
        padding: 0 45px 0 45px;
    }

    #logo {
        width: 260px;
        height: 242px;
    }

    a {
        font-size: 18px;
        width: 200px;
        height: 40px;
    }

    h1 {
        max-width: 420px;
        font-size: 2em;
        margin-bottom: 2em;
    }

    #secao-1 {
        margin: auto;
        width: 95dvw;
    }

    #forma {
        width: 228px;
        height: 330px;
    }

    #modelo-jeans {
        width: 300px;
        height: 458px;
    }

    #principal {
        margin-left: 10em;
    }

    p {
        font-size: 1.4em;
        width: 280px;
        line-height: 1.5em;
        margin-top: 0;
    }

    #short-curto {
        width: 120px;
        height: 140px;
    }

    #short-normal {
        width: 140px;
        height: 140px;
    }


    #secao-2 {
        padding-top: 10em;
        width: 95dvw;
        margin: auto;
    }

    #desc-complementar {
        width: 276px;
        margin-right: 4em;
    }

    .colecoes-1 {
        width: 250px;
        height: 300px;
    }

    .colecoes-2{
        width: 250px;
        height: 300px;
        margin-right: 21em;
    }



    #galeria {
        padding-top: 10vh;
        text-align: center;
        width: 95dvw;
        margin:auto;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 1.7em;
        width: 400px;
        margin-bottom: 3em;
    }

    .grupo-imagens {
        width: 200px;
        height: 260px;
    }

    figcaption {
        margin-bottom: 2em;
        padding-top: 0.5em;
        font-size: 1.1em;
        width: 200px;
    }



    #titulo-comentarios {
        font-family: "Playfair Display", serif;
        font-size: 1.7em;
        width: 350px;
        margin-bottom: 2em;
    }

    #comentarios {
        margin-bottom: 2em;
    }

    .comentario p {
        width: 15em;
        font-size: 1.4em;
        padding-left: 3em;
        padding-top: 0.6em;
    }

    .comentarios {
        margin-top: 1em;
    }

    .nome {
        padding-top: 1em;
    }

    footer p {
        font-size: 14px;
    }
}

/*-----------------------------------------------------------------------------*/

@media (min-width: 993px) and (max-width: 1375px){

    header {
        margin-bottom: 0;
    }

    #cabeçalho {
        justify-content: space-between;
        padding: 0 80px 0 80px;

    }

    #logo {
        width: 260px;
        height: 235px;
    }

    a {
        font-size: 20px;
        width: 280px;
        height: 40px;
    }

    #comprar {
        margin-bottom: 3em;
    }

    h1 {
        max-width: 500px;
        font-size: 2.5em;
        margin-bottom: 2em;
    }

    #secao-1 {
        margin: auto;
        width: 67em;
    }

    #forma {
        width: 228px;
        height: 330px;
    }

    #modelo-jeans {
        width: 350px;
        height: 475px;
    }

    #principal {
        margin-left: 10em;
    }

    p {
        font-size: 1.6em;
        width: 500px;
        line-height: 1.5em;
        margin-top: 0;
    }

    #short-curto {
        width: 200px;
        height: 220px;
        margin-right: 3em;
    }

    #short-normal {
        width: 250px;
        height: 220px;
    }


    #secao-2 {
        padding-top: 8em;
        width: 67em;
        margin: auto;
    }

    #desc-complementar {
        width: 500px;
        margin-right: 6em;
    }

    .colecoes-1 {
        width: 280px;
        height: 330px;
    }

    .colecoes-2{
        width: 280px;
        height: 330px;
        margin-right: 30em;
    }



    #galeria {
        padding-top: 10vh;
        text-align: center;
        width: 67em;
        margin:auto;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 2.3em;
        width: 500px;
        margin-bottom: 3em;
    }

    .grupo-imagens {
        width: 300px;
        height: 360px;
    }

    figcaption {
        margin-bottom: 2em;
        padding-top: 0.5em;
        font-size: 1.5em;
        width: 360px;
    }

    #titulo-comentarios {
        font-family: "Playfair Display", serif;
        font-size: 2.3em;
        width: 400px;
        margin-bottom: 2em;
    }

    #comentarios {
        margin-bottom: 2em;
    }

    .comentario p {
        width: 17em;
        font-size: 1.8em;
        padding-left: 4.3em;
        padding-top: 0.6em;
    }

    .comentarios {
        margin-top: 1em;
    }

    .nome {
        padding-top: 1em;
    }

    footer p {
        font-size: 18px;
        width: 20em;
    }
}



@media (min-width: 1376px) and (max-width: 1920px) {

    header {
        margin-bottom: 0;
        width: 85dvw;
        margin: auto;
    }

    main {
        width: 85dvw;
        margin: auto;
    }

    #cabeçalho {
        justify-content: space-between;
        padding: 0 80px 0 80px;

    }

    #logo {
        width: 280px;
        height: 245px;
    }

    a {
        font-size: 26px;
        width: 280px;
        height: 40px;
    }

    #comprar {
        margin-bottom: 3em;
    }

    h1 {
        max-width: 500px;
        font-size: 2.5em;
        margin-bottom: 2em;
    }

    #secao-1 {
        margin: auto;
        width: 70dvw;
        height: 30.5em;
    }

    #forma {
        width: 228px;
        height: 330px;
    }

    #modelo-jeans {
        width: 350px;
        height: 475px;
    }

    #principal {
        margin-left: 10em;
    }

    p {
        font-size: 1.6em;
        width: 500px;
        line-height: 1.5em;
        margin-top: 0;
    }

    #short-curto {
        width: 200px;
        height: 220px;
        margin-right: 3em;
    }

    #short-normal {
        width: 250px;
        height: 220px;
    }


    #secao-2 {
        padding-top: 8em;
        width: 70dvw;
        margin: auto;
    }

    #desc-complementar {
        width: 500px;
        margin-right: 6em;
    }

    .colecoes-1 {
        width: 280px;
        height: 330px;
    }

    .colecoes-2{
        width: 280px;
        height: 330px;
        margin-right: 30em;
    }



    #galeria {
        padding-top: 10vh;
        text-align: center;
        width: 70dvw;
        margin:auto;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 2.3em;
        width: 500px;
        margin-bottom: 3em;
    }

    .grupo-imagens {
        width: 300px;
        height: 360px;
    }

    figcaption {
        margin-bottom: 2em;
        padding-top: 0.5em;
        font-size: 1.5em;
        width: 360px;
    }

    #titulo-comentarios {
        font-family: "Playfair Display", serif;
        font-size: 2.3em;
        width: 400px;
        margin-bottom: 2em;
    }

    #comentarios {
        margin-bottom: 2em;
        width: 70dvw;
        margin: auto;
    }

    .comentario p {
        width: 17em;
        font-size: 1.8em;
        padding-left: 4.3em;
        padding-top: 0.6em;
    }

    .comentarios {
        margin-top: 1em;
    }

    .nome {
        padding-top: 1em;
    }

    footer p {
        font-size: 18px;
        width: 20em;
    }
}
